@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    background-color: white;
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 600px;
}

.pokemon__image {
    position: absolute;
    bottom: 45%;
    left: 23%;
    transform: translate();
}

.pokemon__data {
    position: absolute;
    font-weight: 500;
    color: #aaa;
    top: 38%;
    right: 80px;
    font-size: clamp(9px, 5vw, 25px);
}

.pokemon__name {
    color: #ffffff;
    text-transform: capitalize;
    width: auto;
}

.form {
    position: absolute;
    width: 100%;
    top: 77%;
    right: 28%;
}

.input__search {
    width: 18%;
    padding: 2.9%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    box-shadow: -3px 4px 0 #888;
}

.buttons {
    position: absolute;
    bottom: 12%;
    left: 59%;
    width: 36%;
    background-color: rgb(229, 30, 30);
    transform: translate(-4%, 0);
    display: flex;
    gap: 10px;
}

.button {
    width: 60%;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #ffffff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}